<h1>Créditos</h1>
<p>Para ser xustos ademais de ao desenvolvedor da ferramenta, Fran Diéguez, un tío sen igual, tamén debemos mencionar a toda aquela xente que contribuíu máis ou menos á consecución desta magnífica ferramenta. Entre estoutras persoas podemos mencionar a Leandro Regueiro que programou un sistema semellante para consulta en local a cal lle deu a outra xente que pensar sobre se tiveramos unha interface de consulta en Internet, e aos creadores dos diferentes glosarios e vocabularios que nutren a base de datos desta cuasi perfecta ferramenta:

<ul>
  <li>a xente do <a href="http://trasno.net">Proxecto Trasno</a> pola creación e mantemento do glosario do Proxecto Trasno,</li>

  <li>a <a href="http://www.mancomun.org/">Mancomún</a>, e <a href="http://www.tagenata.com/">Tagen Ata</a> pola creación do glosario de Mancomún, </li>
  <li>a <a href="http://www.usc.es/osl/">Oficina de Software Libre da USC</a> pola creación do glosario para a tradución de Netbeans...</li>
</ul>

</p>