<h1>Erros</h1>

<p>Como todo bendito programa que existe polo mundo adiante, este aplicativo pode conter erros. Agradeceriámoslle moito que nos comunicara calquera erro que puidera atopar durante o emprego desta (agardamos) utilísima ferramenta enviando unha mensaxe ao enderezo de correo electrónico .</p>

<p>Se ademais ten calquera suxestión sobre calquera mellora que se lle ocorra para esta magnífica ferramenta, non dubide en enviárnola tamén ao enderezo de correo electrónico, xa que andamos escasos de novas ideas despois de rompernos a cabeza facendo esta marabilla de programación.</p>

