    <div id="pager">
      <%= will_paginate element,
        :previous_label => "<< Anterior páxina",
        :next_label => "Seguinte páxina >>"
      %>
      <div class="back"><%= link_to "Voltar atrás", back_url %> </div>
    </div>